<link rel="stylesheet" href="<%=assetPath('css/home.css')%>">
    <main>
        <section>
            <p>
                <%=assetPath('css/home.css')%>
            </p>
            <h4>Posts</h4>
            <form action="/post/create" method="post" id="post-form">
                <textarea name="content" id="post-textarea" cols="30" rows="10">
                    
                </textarea>
                <button type="submit">Submit</button>
            </form>
        </section>
        <section>
            <h4>All Posts</h4>
            <ol id="ol-posts">
                <%for( post of posts){%>
               <%- include("_post") %>
               <%}%>
            </ol>
        </section>
        
        <section class="all-user">
            <h1>All Users List</h1>
            <ul>
                <%for(let user of users){%>
                    <li>
                        <a href="user/profile/<%= user.id%>"><%= user.name%></a>
                    </li>
                    <%}%>
                </ul>
        </section>
        </main>
        <%-include("_chat_box")%>
        <script src="<%=assetPath('js/likes.js')%>"></script>
        <script src="<%=assetPath('js/postComment.js')%>"></script>
        <script src="<%=assetPath('js/home.js')%>"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js" integrity="sha512-MgkNs0gNdrnOM7k+0L+wgiRc5aLgl74sJQKbIWegVIMvVGPc1+gc1L2oK9Wf/D9pq58eqIJAxOonYPVE5UwUFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="<%=assetPath('js/chatEngine.js')%>"></script>

        <%if(locals.user){ %>
            <script >
                new chatEngine("chatBox-<%=locals.user.id%>","<%=locals.user.email%>");
                </script>
        <%}%>